{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Your profile <small>{{ app.user.email }}</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Editing the profile</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        {{ form_errors(form) }}
                        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_start(form) }}

                            {{ form_widget(form) }}

                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
