{% form_theme categoryForm 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="col-md-12">{{ form_errors(categoryForm) }}</div>

<div class="col-md-12">
    {{ form_row(categoryForm.name) }}
</div>
<div class="col-md-12">
    {{ form_row(categoryForm.parent) }}
</div>

{{ form_rest(categoryForm) }}
