<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Symfony Simple Blog</title>

    <link href="{{ asset('js/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('js/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="top_nav" style="margin-left:0px;">
            <div class="nav_menu">
                <div class="nav" style="width:400px;float:left;font-size:26px;padding:15px 15px 0;">
                    <a href="{{ path('homepage') }}"><i class="fa fa-telegram"></i> The best blog</a>
                </div>
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="{{ asset('images/img.jpg') }}" alt="">{{ app.user.username }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{{ path('profile') }}"> Profile</a></li>
                                <li><a href="{{ path('dashboard') }}"> Admin panel</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="margin-left:0px;">
            {% block body %}{% endblock %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer style="margin-left:0px;">
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script src="{{ asset('js/plugins/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/plugins/fastclick.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
