{% extends '::default.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Search {{ app.request.get('search') }} {{ app.request.attributes.get('categorySlug') is null ? '' : 'in '~app.request.attributes.get('categorySlug') }}</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    {% if posts|length > 0 %}
                    <ul class="messages">
                        {% for post in posts %}
                        <li>
                            <div class="message_date">
                                <h3 class="date text-info">{{ post.createdAt|date('d') }}</h3>
                                <p class="month">{{ post.createdAt|date('M') }}</p>
                            </div>
                            <div class="message_wrapper">
                                <a href="{{ path('post_show', {id:post.id}) }}"><h4 class="heading">{{ post.title }}</h4></a>
                                <blockquote class="message">{{ post.body|truncate(250)|raw }}</blockquote>
                                <a href="{{ path('post_show', {id:post.id}) }}">Read all</a>
                                <br />
                                <br />
                                <p class="url">
                                    In categories:
                                    {% if post.categories|length > 0 %}
                                        {% for category in post.categories %}
                                            {{ category.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <i>none</i>
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            <strong>Holy guacamole!</strong> We dont have any posts with the query parameters.
                        </div>
                    {% endif %}
                </div>

                <!-- start project-detail sidebar -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    {{ render(controller('AppBundle:Default:sidebar', {requestAttributes:app.request.attributes})) }}
                </div>
                <!-- end project-detail sidebar -->

            </div>
        </div>
    </div>
</div>
{% endblock %}
