{% extends '::default.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('js/plugins/lightbox2/css/lightbox.min.css') }}" rel="stylesheet">
    <style>
        .thumbnail {
            height: inherit;
        }
        .thumbnail .image {
            height: inherit;
        }

        ul.messages li .message_wrapper h4.heading {
            cursor: inherit;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ post.title }}</h2>
                <div class="nav navbar-right panel_toolbox">
                    {{ post.createdAt|date }}
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                {{ post.body|raw }}

                {% if post.media|length > 0 %}
                    <div class="row" style="margin-top:15px;">
                    {% for media in post.media %}
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    <a href="{{ asset(media.path~'/'~media.file) }}" data-lightbox="roadtrip">
                                        <img style="width: 100%; display: block;" src="{{ asset(media.path~'/'~media.file)|imagine_filter('standard') }}" alt="image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12">
        {{ render(controller('AppBundle:Default:sidebar', {requestAttributes:app.request.attributes})) }}
    </div>
</div>

<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Comments <small>leave your opinion</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% form_theme commentForm 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_errors(commentForm) }}
                {{ form_start(commentForm) }}

                {% if commentForm.nick is defined %}
                    <div class="form-group">
                        {{ form_label(commentForm.nick) }}
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            {{ form_widget(commentForm.nick, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        {{ form_errors(commentForm.nick) }}
                    </div>
                {% endif %}
                {% if commentForm.email is defined %}
                    <div class="form-group">
                        {{ form_label(commentForm.email) }}
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            {{ form_widget(commentForm.email, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        {{ form_errors(commentForm.email) }}
                    </div>
                {% endif %}
                {% if commentForm.website is defined %}
                    <div class="form-group">
                        {{ form_label(commentForm.website) }}
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            {{ form_widget(commentForm.website, { 'attr': {'class': 'form-control has-feedback-left'} }) }}
                            <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        {{ form_errors(commentForm.website) }}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form_label(commentForm.comment) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(commentForm.comment, { 'attr': {'rows': 3} }) }}
                    </div>
                    {{ form_errors(commentForm.comment) }}
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                        <button type="reset" class="btn btn-primary">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>
</div>

{% if comments|length > 0 %}
<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Comments <small>list</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="messages">
                    {% for comment in comments %}
                    <li>
                        <img src="{{ comment.user is null ? gravatar(comment.email) : gravatar(comment.user.email) }}" class="avatar">
                        <div class="message_wrapper">
                            {{ (comment.website is null ? '' : '<a href="'~comment.website~'">')|raw }}
                                <h4 class="heading">{{ comment.author }}</h4>
                            {{ (comment.website is null ? '' : '</a>')|raw }}
                            <blockquote class="message">{{ comment.comment }}</blockquote>
                            <br>
                            <p class="url">
                                {{ comment.createdAt|date }}
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/plugins/lightbox2/js/lightbox.min.js') }}"></script>
{% endblock %}
