{% set categorySlugRequest = null %}
{%
    if app.request.attributes.get('requestAttributes') is not null
    and app.request.attributes.get('requestAttributes').get('_route_params') is not null
    and app.request.attributes.get('requestAttributes').get('_route_params')['categorySlug'] is defined
%}
    {% set categorySlugRequest = app.request.attributes.get('requestAttributes').get('_route_params')['categorySlug'] %}
{% endif %}

<form method="post" action="{{ path('search', {categorySlug:categorySlugRequest}) }}" class="form-horizontal form-label-left">
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="what do you want to find?">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="divider-dashed"></div>
</form>

{% if categories|length > 0 %}
<div class="x_panel">
    <div class="x_title">
        <h2>Categories</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <ul class="list-unstyled">
            {% for category in categories %}
            <li>
                <a href="{{ path('search', {categorySlug:category.slug}) }}">{{ category.name }}</a>
                {% if category.children|length > 0 %}
                    <ul class="list-unstyled">
                        {% for category2 in category.children %}
                            <li>--- <a href="{{ path('search', {categorySlug:category2.slug}) }}">{{ category2.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
