<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{{ path('dashboard') }}" class="site_title">
            <i class="fa fa-paw"></i> <span>Simple Blog!</span>
        </a>
    </div>

    <div class="clearfix"></div>

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Posts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ path('admin_post_index') }}">List</a></li>
                        <li><a href="{{ path('admin_media_list') }}">Media</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('admin_comment_index') }}"><i class="fa fa-edit"></i> Comments</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>
