{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Media <small> list</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-12">
                        <h4>Last media, total: {{ medias.getTotalItemCount }}</h4>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Options</th>
                                <th>Post</th>
                                <th>Image</th>
                                <th>Type</th>
                                <th>Size</th>
                                <th>Created at</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for media in medias %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_media_remove', {id: media.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>
                                    {{ media.post.title|truncate(25) }}
                                </td>
                                <td>
                                    <img src="{{ asset(media.path~'/'~media.file)|imagine_filter('standard') }}" alt="image">
                                </td>
                                <td>{{ media.type }}</td>
                                <td>{{ media.size|format_bytes }}</td>
                                <td>{{ media.createdAt|date }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="navigation">
                            {{ knp_pagination_render(medias) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
