{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Posts <small> list</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <h4>Last posts, total: {{ posts.getTotalItemCount }}</h4>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Options</th>
                                <th>Title</th>
                                <th>Categories</th>
                                <th>Author</th>
                                <th>Created at</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-success btn-xs">Edit</a>
                                    <a href="{{ path('admin_post_delete', {id: post.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>
                                    {{ post.visible ? '<i class="fa fa-check text-success"></i>' : '<i class="fa fa-close text-danger"></i>' }}

                                    {{ post.title|truncate(100) }}
                                </td>
                                <td>
                                    {% if post.categories|length > 0 %}
                                        {% for category in post.categories %}
                                            {{ category.name }}{% if not loop.last %}<br>{% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <i>none</i>
                                    {% endif %}
                                </td>
                                <td>{{ post.author.username }}</td>
                                <td>{{ post.createdAt|date }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="navigation">
                            {{ knp_pagination_render(posts) }}
                        </div>
                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                        <section class="panel">

                            <div class="panel-body">
                                <div class="text-center mtop20">
                                    <a href="{{ path('admin_post_new') }}" class="btn btn-block btn-primary">Add new post</a>
                                </div>

                                <hr>

                                <h3 class="green">Categories</h3>

                                <ul>
                                    {% for category in categories %}
                                        <li data-category-id="{{ category.id }}" data-category-name="{{ category.name }}" data-category-parent="">
                                            <button type="button" class="btn btn-xs btn-success category-edit">Edit</button>
                                            <a href="{{ path('admin_category_delete', {id:category.id}) }}" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                            {{ category.name }}
                                            {% if category.children|length > 0 %}
                                                <ul>
                                                    {% for children in category.children %}
                                                        <li data-category-id="{{ children.id }}" data-category-name="{{ children.name }}" data-category-parent="{{ children.parent.id }}">
                                                            <button type="button" class="btn btn-xs btn-success category-edit">Edit</button>
                                                            <a href="{{ path('admin_category_delete', {id:children.id}) }}" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                                            {{ children.name }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div class="text-center mtop20">
                                    <button type="button" class="btn btn-block btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">New category</button>
                                </div>
                            </div>

                        </section>

                    </div>
                    <!-- end project-detail sidebar -->

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Add new category</h4>
                </div>
                {% form_theme categoryForm 'bootstrap_3_horizontal_layout.html.twig' %}
                <form method="POST" class="ajaxForm" action="{{ path('admin_category_new') }}">
                    <div class="modal-body">
                        <div id="form_body" class="row">
                            {% include '::category/form.html.twig' with {'categoryForm': categoryForm} %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade modal-category-edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Edit category</h4>
                </div>
                {% form_theme categoryEditForm 'bootstrap_3_horizontal_layout.html.twig' %}
                <form method="POST" class="ajaxEditForm">
                    <div class="modal-body">
                        <div id="form_edit_body" class="row">
                            {% include '::category/form.html.twig' with {'categoryForm': categoryEditForm} %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('body').on('submit', '.ajaxForm', function (e) {

            e.preventDefault();

            $.ajax({
                url: '{{ path('admin_category_new') }}',
                type: 'POST',
                data: $(this).serialize()
            })
                .done(function (data) {
                    if (typeof data.message !== 'undefined') {
                        location.reload();
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        if (jqXHR.responseJSON.hasOwnProperty('form')) {
                            $('#form_body').html(jqXHR.responseJSON.form);
                        }

                        $('.form_error').html(jqXHR.responseJSON.message);

                    } else {
                        alert(errorThrown);
                    }
                });
        });

        $('.category-edit').click(function () {
            var categoryId = $(this).parent('li').data('category-id');
            var categoryName = $(this).parent('li').data('category-name');
            var categoryParent = $(this).parent('li').data('category-parent');

            $('form.ajaxEditForm').attr('action', Routing.generate('admin_category_edit', { id: categoryId }));
            $('form.ajaxEditForm #category_name').val(categoryName);
            $('form.ajaxEditForm #category_parent').val(categoryParent);

            $('.modal-category-edit').modal('show');
        });

        $('body').on('submit', '.ajaxEditForm', function (e) {

            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize()
            })
                .done(function (data) {
                    if (typeof data.message !== 'undefined') {
                        location.reload();
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        if (jqXHR.responseJSON.hasOwnProperty('form')) {
                            $('#form_edit_body').html(jqXHR.responseJSON.form);
                        }

                        $('.form_error').html(jqXHR.responseJSON.message);

                    } else {
                        alert(errorThrown);
                    }
                });
        });
    });
</script>
{% endblock %}