{% extends '::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/plugins/lightbox2/css/lightbox.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('js/plugins/jQuery-File-Upload/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('js/plugins/jQuery-File-Upload/css/jquery.fileupload-ui.css') }}">
    <style>
        .thumbnail {
            height: inherit;
        }
        .thumbnail .image {
            height: inherit;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Post <small> create</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Wanna something new?</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    {{ form_errors(form) }}
                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(form) }}

                        {{ form_row(form.title) }}
                        {{ form_row(form.categories) }}
                        {{ form_row(form.body, {attr: {rows: 8}}) }}
                        {{ form_row(form.visible) }}

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="reset" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            {% include 'post/media/sidebar.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/lightbox2/js/lightbox.min.js') }}"></script>
    {% include 'post/media/javascript.html.twig' %}
{% endblock %}
