{% extends '::admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>Comments <small> list</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <h4>Last comments, total: {{ comments.getTotalItemCount }}</h4>

                    <table class="data table table-striped no-margin">
                        <thead>
                        <tr>
                            <th>Options</th>
                            <th style="width:200px;">Post</th>
                            <th style="width:100px;">User</th>
                            <th>Comment</th>
                            <th style="width:160px;">Created at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_comment_delete', {id: comment.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>
                                    <a href="{{ path('post_show', {id: comment.post.id}) }}" class="btn btn-default btn-xs"><i class="fa fa-location-arrow"></i></a>
                                    <a href="{{ path('admin_post_edit', {id: comment.post.id}) }}">{{ comment.post.title }}</a>
                                </td>
                                <td>
                                    {% if comment.user is null %}
                                        <a href="{{ comment.website }}" class="btn btn-default btn-xs"><i class="fa fa-globe"></i></a>
                                        <a href="mailto:{{ comment.email }}">{{ comment.nick }}</a>
                                    {% else %}
                                        <b>{{ comment.user.username }}</b>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if comment.comment|length > 500 %}
                                        <div data-comment-id="{{ comment.id }}">
                                            {{ comment.comment|truncate(500) }}
                                            <span class="btn btn-default btn-xs comment-preview"><i class="fa fa-search-plus"></i></span>
                                        </div>
                                    {% else %}
                                        {{ comment.comment }}
                                    {% endif %}
                                </td>
                                <td>{{ comment.createdAt|date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation">
                        {{ knp_pagination_render(comments) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('.comment-preview').click(function () {
            var parentDiv = $(this).parent();
            var commentId = parentDiv.data('comment-id');
            $.ajax({
                url: Routing.generate('admin_comment_show', { id: commentId }),
            })
                .done(function (data) {
                    parentDiv.html(data.comment.comment);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (typeof jqXHR.responseJSON !== 'undefined') {
                        if (jqXHR.responseJSON.hasOwnProperty('form')) {
                            $('#form_edit_body').html(jqXHR.responseJSON.form);
                        }

                        $('.form_error').html(jqXHR.responseJSON.message);

                    } else {
                        alert(errorThrown);
                    }
                });
        });
    });
</script>
{% endblock %}
